
@model Setting

<main>
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row upper-row">
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="footer-top">CUSTOMER SERVICE</li>
                        <li class="footer-context">Help & Contact Us</li>
                        <li class="footer-context">Returns & Refunds</li>
                        <li class="footer-context">Online Stores</li>
                        <li class="footer-context">Terms & Conditions</li>
                    </ul>
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="footer-top">COMPANY</li>
                        <li class="footer-context">About Us</li>
                        <li class="footer-context">Blog</li>
                        <li class="footer-context">Order Tracking</li>
                        <li class="footer-context">FAQ Page</li>
                        <li class="footer-context">Contact Us</li>
                        <li class="footer-context">Login</li>
                    </ul>
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="footer-top">SOCIAL MEDIA</li>
                        <li class="footer-context">Twitter</li>
                        <li class="footer-context">Instagram</li>
                        <li class="footer-context">Tumblr</li>
                        <li class="footer-context">Pinterest</li>
                    </ul>
                    <ul class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <li class="footer-top">ARCHIVE</li>
                        <li class="footer-context">Designer Shoes</li>
                        <li class="footer-context">Gallery</li>
                        <li class="footer-context">Pricing</li>
                        <li class="footer-context">Feature Index</li>
                        <li class="footer-context">Login</li>
                        <li class="footer-context">Help & Support</li>
                    </ul>
                </div>
                <div class="row lower-row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="byme">
                            <p>Powered by <span>Lala Guliyeva</span> 2021</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="creditcards">
                            <img src="photos/credit-cards.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="socialmedia">
                            <span>INSTAGRAM</span>
                            <span>FACEBOOK</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
</main>